@font-face {
  font-family: Inter;
  src: url("/Inter.woff2");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: white !important;
  font-family: Inter;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #1f2639;
}

.admin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1f2639;
  padding: 20px 20px;
  overflow: hidden;
}

.logout {
  position: absolute;
  width: 100px;
  bottom: 20px;
  left: 20px;
}

button {
  background-color: #e45e5a;
  border-radius: 8px;
  border: none;
  padding: 10px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #a94a46;
}

.input {
  background-color: #262d43;
  border: none;
  border-radius: 8px;
  padding: 10px;
  color: white;
  outline: #e45e5a;
  font-size: 16px;
  width: min-content;
  width: 100%;
}

.input:focus {
  outline: #e45e5a;
  outline-style: solid;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}

.create {
  width: 200px;
}