@font-face {
  font-family: Inter;
  src: url("/Inter.woff2");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #121826;
  color: white !important;
  font-family: Inter;
  margin: 0;
  padding: 0;
}

.activities {
  position: absolute;
  background-color: #1f2639;
  padding: 20px 20px;
  border-radius: 10px;
  flex-direction: column;
  height: calc(100vh - 80px);
  margin: 20px;
  width: calc(100vw - 80px);
  overflow: hidden;
}

h1 {
  line-height: 30px;
}

.logout {
  position: absolute;
  width: 100px;
  bottom: 20px;
}

button {
  background-color: #e45e5a;
  border-radius: 8px;
  border: none;
  padding: 10px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #a94a46;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 16px;
  overflow-y: scroll;
  height: calc(100% - 100px);
}

.card {
  background-color: #3c445b;
  border-radius: 12px;
  height: 200px;
  min-width: 200px;
  padding: 10px;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  display: grid;
  place-content: center;
}